@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/subset-BrandonGrotesque-Bold.eot');
    src: url('fonts/subset-BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-BrandonGrotesque-Bold.woff2') format('woff2'),
        url('fonts/subset-BrandonGrotesque-Bold.woff') format('woff'),
        url('fonts/subset-BrandonGrotesque-Bold.ttf') format('truetype'),
        url('fonts/subset-BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/subset-GothamBlack.eot');
    src: url('fonts/subset-GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-GothamBlack.woff2') format('woff2'),
        url('fonts/subset-GothamBlack.woff') format('woff'),
        url('fonts/subset-GothamBlack.ttf') format('truetype'),
        url('fonts/subset-GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/subset-Lato-Light.eot');
    src: url('fonts/subset-Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Light.woff2') format('woff2'),
        url('fonts/subset-Lato-Light.woff') format('woff'),
        url('fonts/subset-Lato-Light.ttf') format('truetype'),
        url('fonts/subset-Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/subset-Lato-Black.eot');
    src: url('fonts/subset-Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Black.woff2') format('woff2'),
        url('fonts/subset-Lato-Black.woff') format('woff'),
        url('fonts/subset-Lato-Black.ttf') format('truetype'),
        url('fonts/subset-Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/subset-OpenSans-Light.eot');
    src: url('fonts/subset-OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-OpenSans-Light.woff2') format('woff2'),
        url('fonts/subset-OpenSans-Light.woff') format('woff'),
        url('fonts/subset-OpenSans-Light.ttf') format('truetype'),
        url('fonts/subset-OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/subset-OpenSans.eot');
    src: url('fonts/subset-OpenSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-OpenSans.woff2') format('woff2'),
        url('fonts/subset-OpenSans.woff') format('woff'),
        url('fonts/subset-OpenSans.ttf') format('truetype'),
        url('fonts/subset-OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.header_flex {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px 29px 0px;
}
.header_logo {
    background-image: url('images/Shape_8_logo.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 48px;
    margin-right: 313px;
}
.header_menu {
    width: 891px;
}
.header_menu_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.header_menu_item--link {
    text-decoration: none;
    color: #868686;
    font-family: 'Lato-Light', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 11px 17px 11px 17px;   
}
.header_menu_item--link:hover {
    color: #ffffff;
    background-color: #ffbb42;
    border-radius: 2px;
}
.main_fon1 {
    position: relative;
    background-color: #709dca;
    padding: 110px 0px 347px 0px;
}
.main_fon1__text--h {
    margin-left: 288px;
    font-family: 'Gotham', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.88px;
    text-transform: uppercase;
}
.main_fon1__text--l {
    margin-left: 226px;
    margin-top: 10px;
    color: #ffffff;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.main_fon1_forms {
    margin-top: 33px;
    text-align: center;
}
.main_fon1_form__name {
    background-color: #ffffff;
    border-radius: 3px;
    width: 281px;
    padding: 18px 0px 18px 41px;
    margin-right: 10px;
    background-image: url('images/_figura.png');
    background-position-x: 15px;
    background-position-y: center;
    background-repeat: no-repeat;
}
.main_fon1_form__name::-webkit-input-placeholder {
    color: #a9a9a9;
    font-size: 13px; 
}
.main_fon1_form__name:required {
    border: 1px solid red;
}
.main_fon1_form__email {
    background-color: #ffffff;
    border-radius: 3px;
    width: 281px;
    padding: 18px 0px 18px 41px;
    color: blue;
    margin-right: 10px;
    background-image: url('images/_letter.png');
    background-position-x: 15px;
    background-position-y: center;
    background-repeat: no-repeat;
}
.main_fon1_form__email::-webkit-input-placeholder {
    color: #a9a9a9;
    font-size: 13px; 
}
.main_fon1_form__email:required {
    border: 1px solid red;
}
.main_fon1_form__tel {
    background-color: #ffffff;
    border-radius: 3px;
    width: 281px;
    padding: 18px 0px 18px 41px;
    color: blue;
    margin-right: 10px;
    background-image: url('images/_tel.png');
    background-position-x: 15px;
    background-position-y: center;
    background-repeat: no-repeat;
}
.main_fon1_form__tel::-webkit-input-placeholder {
    color: #a9a9a9;
    font-size: 13px; 
}
.main_fon1_form__tel:required {
    border: 1px solid red;
}
.main_fon1_form__submit {
    background-color: #ffbb42;
    border-radius: 3px;
    width: 227px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 17px 45px 17px 43px;
}
.main_comp {
    position: absolute;
    background-image: url('images/Vector_Smart_Object_comp.png');
    background-repeat: no-repeat;
    width: 648px;
    height: 344px;
    top: 309px;
    left: 356px;
}
.main_comp::before {
    content: '';
    background-image: url('images/Layer_24_people.png');
    margin: 18px 100px 61px 102px;
    width: 445px;
    height: 264px;
    display: inline-block;
    vertical-align: middle;
}
.main_points {
    text-align: center;
    margin-top: 87px;
}
.main_point {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    width: 12px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #dedfe0;
    margin-right: 10px;
}
.main_point:hover {
    border: 2px solid #1ca8dd;
}
.main_services {
    text-align: center;
    margin-top: 105px;
}
.main_services__text--h {
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    letter-spacing: -0.75px;
    text-transform: uppercase;
}
.main_services__text--l {
    font-size: 16px;
    line-height: 22px;
    color: #394b50;
}
.services {
    margin-top: 93px;
}
.services_card {
    width: 559px;
    margin-left: 2px;
}
.services_card_text {
    margin-left: 39px;
    width: 470px;
}
.service_card--h {
    color: #394b50;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 2px;
    text-transform: uppercase;
}
.service_card--l {
    color: #7b7b7b;
    font-size: 13px;
    line-height: 22px;
    margin-top: 10px;
    width: 440px;
}
.icon_ser {
    display: inline-block;
    vertical-align: top;
}
.services .fas {
    color: #709dca;
    font-size: 50px;
    /* display: inline-block;
    vertical-align: top; */
    transition: 2s;
}
.services .fas:hover {
    transform: rotateY(360deg);
    color: red;
}
.services .far {
    /* content: '\f017'; */
    color:  #709dca;
    font-size: 50px;
    /* display: inline-block;
    vertical-align: top; */
    transition: 2s;
}    
.services .far:hover {
    transform: rotateY(360deg);
    color: red;
}
.services_card_text--two {
    margin-left: 32px;
    width: 470px;
}
/* .fa-cog::before {
    content: '\f013';
} */
.fa-graduation-cap::before {
    /* content: '\f19d'; */
    font-size: 45px;
}
/* .fa-rocket::before {
    content: '\f135';
} */
/* .fa-basketball-ball::before {
    content: '\f434'; */

.fa-dollar-sign {
    /* content: '\f155'; */
    margin-left: 15px;
}
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content: space-between;
}
.two {
    margin-top: 79px;
    margin-bottom: 79px;
}
.main_fon2 {
    background-color: #ffc155;
    margin-top: 155px;
    display: flex;
    flex-direction: row;
}
.main_fon2_table {
    background-image: url('images/Layer_27_table.png');
    background-repeat: no-repeat;
    width: 850px;
    height: 623px;
}
.main_fon2_text {
    width: 625px;
    margin-top: 164px;
    margin-left: 125px;
    margin-right: 165px;
}
.main_fon2__text--h {
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.75px;
}
.main_fon2__text--l {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 33px;
}
.main_fon2__button--r {
    background-color: #ffc155;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato-Light', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 17px 33px 19px 32px;
    border: 1px solid #e7ad48;
}
.main_fon2__button--r:hover {
    color: blueviolet;
    font-weight: 900;
}
.main_fon3 {
    background-color: #e7edf3;
    padding-top: 137px;
    padding-bottom: 164px;
}
.main_price {
    text-align: center;
}
.main_price__text--h {
    color: #394b50;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.75px;
    text-transform: uppercase;
}
.main_price__text--l {
    color: #75888d;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}
.price {
    display: flex;
    flex-direction: row;
}
.price_card {
    background-color: #ffffff;
    width: 391px;
    padding: 57px 31px 48px 31px;
    margin-top: 79px;
    border: 1px solid #ccd5df;
    text-align: center;
}
.price_card__text--plan {
    color: #818b95;
    font-family: 'Lato-Light', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}
.price_card__text--z {
    color: #ffbb42;
    font-family: 'Lato-Light', sans-serif;
    font-size: 35px;
    line-height: 22px;
    font-weight: 700;
    font-variant: small-caps;
    position: relative;
    bottom: 20px;
}
.price_card__text--price {
    color: #ffbb42;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 22px;
    font-variant: small-caps;
    margin-top: 30px;
}
.price_card__text--per {
    color: #818b95;
    font-family: 'Lato-Light', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    font-variant: small-caps;
    margin-top: 11px;
    padding-bottom: 34px;
} 
.price_card__text--account {
    color: #b5bbc1;
    font-family: 'Lato-Light', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    border-top: 1px solid #e2e9f0;
}
.price_button--g {
    background-color: #ffbb42;
    color: #ffffff;
    text-decoration: none;
    width: 131px;
    border-radius: 2px;
    padding: 16px 21px 16px 21px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.price_button {
    margin-top: 35px;
}
.card_two {
    background-color: #709dca;
    margin-top: 49px;
    padding-top: 87px;
    margin-bottom: -30px;
}
.card_two .price_card__text--account {
    color: #c2e1ff;
    border-top: 1px solid #8eb8e2;
} 
.two_color {
    color: #ffffff;
}
.price_button--g:hover {
    color: blueviolet;
    font-weight: 900;
}
.main_fon4 {
    background-color: #fff;
    padding-top: 155px;
    padding-bottom: 149px;
}
.main_work {
    text-align: center;
}
.main_work__text--h {
    color: #394b50;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.75px;
    text-transform: uppercase;
}
.main_work__text--l {
    color: #394b50;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Lato-Light', sans-serif;
    font-weight: 300;
}
.work_card {
    width: 213px;
    background-color: white;
    text-align: center;
}
.far,.fas {
    color: #709dca;
    font-size: 72px;
    font-weight: 400;
    line-height: 22px;
    transition: 2s;
}
.work .fas:hover {
    transform: rotateY(360deg);
    color: goldenrod;
}
.work .far:hover {
    transform: rotateY(360deg);
    color: goldenrod;
} 
.work_card__text--h {
    color: #394b50;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 102px;
}
.work_card__text--l {
    color: #7b7b7b;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 28px;
}
.work .far {
    margin-top: 6px;
}
.card_four {
    margin-top: 96px;
}
.work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 78px;
    margin-bottom: 91px;
}
.one_arrow::after {
    content: '';
    background-image: url('images/4-layers.png');
    width: 128px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -317px;
    left: 157px;
}
.two_arrow::after {
    content: '';
    background-image: url('images/4-layers.png');
    width: 129px;
    height: 31px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -215px;
    left: 157px; 
    transform: rotateX(180deg);
}
.main_work__button--r {
    background-color: #ffbb42;
    width: 165px;
    text-decoration: none;
    padding: 17px 27px 19px 28px;
    color: #ffffff;
    font-family: 'Lato-Light', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 517px;
    margin-top: 91px;
}
.main_work__button--r:hover {
    color: blueviolet;
    font-weight: 900;
}
.main_fon5 {
    background-color: #ffc155;
    padding-top: 141px;
    padding-bottom: 160px;
}
.main_clients {
    text-align: center;
}
.main_clients__text--h {
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.75px;
    text-transform: uppercase;
}
.main_clients__text--l {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.clients_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #ffffff;
    width: 567px;
    padding: 43px 41px 51px 30px;
    margin-top: 20px;
}
.clients_text {
    margin-left: 13px;
}
.card_text {
    color: #7b7b7b;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.card_text::before {
    content: '“';
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    position: relative;
    top: 7px;
    right: 7px;
}
.card_text::after {
    content: '“';
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    position: relative;
    top: 17px;
    left: 7px;
    transform: rotateY(180deg);
}
.clients_name {
    color: #f6772c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 29px;
}
.clients_position {
    color: #394b50;
    margin-left: 5px;
}
.clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 38px;
}
.main_fon6 {
    background-color: #ffffff;
    padding-top: 154px;
    padding-bottom: 57px;
}
.main_contact {
    text-align: center;
}
.main_contact__text--h {
    color: #394b50;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.75px;
    text-transform: uppercase;
}
.main_contact__text--l {
    color: #394b50;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
.main_fon6_forms {
    text-align: center;
    margin-top: 38px;
    position: relative;
}
.form_name {
    width: 308px;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    padding: 21px 0px 17px 44px;
    background-color: #ffffff;
}
.form_email {
    width: 388px;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    padding: 20px 0px 17px 47px;
    background-color: #ffffff;
    margin-left: -10px;
    margin-right: 10px;
}
.form_name,.form_email:required {
    border: 1px solid red;
}
.fa-user {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 18px;
    left: 139px;
}
.fa-envelope {
    color: #6e6e6e;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    left: 28px;
    top: -1px;
}
.form_name::-webkit-input-placeholder {
    color: #a9a9a9;
    font-size: 13px;
    font-weight: 400;
}
.form_email::-webkit-input-placeholder {
    color: #a9a9a9;
    font-size: 13px;
    font-weight: 400;
}
.form_submit {
    background-color: #ffbb42;
    border-radius: 2px;
    width: 218px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato-Light', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 19px 52px 18px 53px;
}
.form_submit:hover {
    color: blueviolet;
    font-weight: 900;
}
.contact_fon {
    background-image: url('images/Layer_13_cart.png');
    background-repeat: no-repeat;
    padding: 40px 0px 176px 0px;
    margin-top: 53px;
}
.contact {
    width: 279px;
    height: 279px;
    border-radius: 50%;
    background-color: #394b50;
    border: 3px solid #ffffff;
    margin-left: 461px;
    text-align: center;
    position: relative;
}
.contact_address {
    color: #ffffff;
    font-family: 'Lato-Light', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 65px;
}
.contact_info,.contact_tel,.contact_email {
    color: #aeb7ba;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.contact_tel,.contact_email {
    text-decoration: none;
}
.contact_email:hover {
    color: #ffbb42;
}
.contact_tel:hover {
    color: #ffbb42;
}
.contact_cub {
    background-color: #394b50;
    width: 13px;
    height: 13px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    transform: rotate(44deg);
    position: absolute;
    bottom: -8px;
    left: 134px;
    z-index: 0;
}
.contact_logo {
    margin-top: 6px;
    margin-left: 580px;
    background-image: url('images/Shape_8_logo.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 48px;
}

.container {    
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-left: 15px;
    margin: 0 auto;
}






